
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.main-header{
  width: 100%;
  flex-direction: column;
}

.title-content{
  padding: 32px;
  background-color: rgb(236, 236, 236,0.3);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.title-content h1{
  color: #6640a8;
  font-weight: 800;

}

.perfil-content{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image-content{
  padding: 0 10px;
}

.image{
  border: 2px solid red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  padding:10px 10px;
}


.user-name{
  font-weight: bold;
}

.header-inputs{
  display: flex;
  flex-direction: row;
}

.inputs-search-subtitle, .inputs-select-subtitle, .inputs-plus-product-subtitle{
  padding: 32px;
  display: flex;
  align-items: center;
}

.inputs-search-subtitle input{
  border: 2px solid #ccc;
  border-right: none;
  width: 300px;
  height: 45px;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.inputs-search-subtitle button {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.inputs-search-subtitle button, .icon-select, .inputs-plus-product-subtitle button {
  background-image: linear-gradient( 128deg, #270069 10%, #6640a8 55% , #53318d 80% );
  padding: 10px;
  border: 2px solid #ccc;
  border-left: none;
  height: 46px;
  cursor: pointer;
}


.inputs-search-subtitle button i, .icon-select i{
  color: white;
  font-weight: bold;
}


.inputs-select-subtitle select{
  appearance: none;
  border: 2px solid #ccc;
  border-left: none;
  width: 170px;
  height: 45px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-select {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}


.inputs-plus-product-subtitle button{
  border-radius: 5px;

}


.inputs-plus-product-subtitle span, i{
  font-size: 15px;
  color: white;

}


 
