@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

.main{
  background-color: #f1f1f1;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 200px 0;
  width: 960px;
  height: 70%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(120deg, #7e57c2 20%, #6640a8 55% , #53318d 80% );
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  left: 0;
}

.title {
  color: #ffff;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-primary {
  color: #fff;
}

.title-second {
  color: #53318d;
}

.description {
  font-size: 14px;
  font-weight: 300px;
  color: #53318d;
  line-height: 30px;
}

.description-primary {
  color: #fff;
}

.description-second {
  color: #53318d;
}

.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #fff;
  transition: background-color 0.5s;
}

.btn-second {
  background-color: #53318d;
  border: 1px solid #53318d;
  transition: background-color 0.5s;
}

.btn-second:hover {
  background-color: #ecf0f1;
  color: #7e57c2;
  border: 1px solid #53318d;
}

.btn-primary:hover {
  background-color: #ecf0f1;
  color: #53318d;
  border: 1px solid #53318d;
}

.first-content {
  display: flex;
}

.first-content .second-column {
  z-index: 12;
}

.first-column {
  text-align: center;
  width: 40%;
  z-index: 10;
}

.second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex: 2 0 auto;
  align-items: center;
}

.social-media {
  margin: 1rem 0;
}

.list-social-media {
  display: flex;
  list-style-type: none;
}

.link-social-media:not(:first-child) {
  margin-left: 10px;
}

.link-social-media:hover .item-social-media {
  background-color: #7e57c2;
  color: #fff;
  border-color: #7e57c2;
}

.item-social-media {
  border: 1px solid #ffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #53318d;
  transition: background-color 0.5s;
}

.profileImg{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImg span{
  padding-top: 15px;
  padding-bottom: 12px;
  color: #53318d;
}

.profileImg button{
  display: flex;
  position: relative;
  margin: 10px;
  padding: 40px;
  background-color: transparent;
  border: 2px solid #7d4fcc;
  cursor: pointer;
  box-shadow:5px 5px 5px rgba(83, 49, 141, 0.4);
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  transition: background-color ease 0.5s;
}


.profileImg button:hover{
  background-color: #e9e6e6;

}

.profileImg img{
  position: absolute;
  top: 0%;
  border-radius: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form input {
  height: 45px;
  border: none;
  width: 100%;
  background-color: #ecf0f1;
  outline: 0;
}

.label-input {
  display: flex;
  margin: 8px;
  background-color: #ecf0f1;
  align-items: center;
}

.icon-modify {
  color: #53318d;
  padding: 0 5px;
}

.second-content {
  position: absolute;
  display: flex;
  background-color:#ffff;
}

.second-content .first-column {
  order: 2;
  z-index: -1;
  
}
.second-content .second-column {
  order: 1;
  z-index: -1;
}

.password {
  color: #53318d;
  font-size: 14px;
  align-self: center;
  margin: 15px 0;
}

.password::first-letter {
  text-transform: capitalize;
}

.sign-up-js .first-content .first-column,
.sign-up-js .first-content .second-column {
  z-index: -1;
}

.sign-up-js .second-content .first-column{
  z-index: 14;
}

.sign-up-js .second-content .second-column {
  z-index: 12;
}

.sign-up-js .content::before {
  left: 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slidein 1.5s;
  z-index: 13;
}

.sign-up-js .first-content .second-column{
  z-index: -1;
  position: relative;
  animation: deslocamentoEsquerda 0.3s;

}

.sign-up-js-errors .first-content .first-column,
.sign-up-js-errors .first-content .second-column{
    z-index: -1;
}

.sign-up-js-errors .second-content .first-column{
  z-index: 14;
}

.sign-up-js-errors .second-content .second-column {
  z-index: 12;
}

.sign-up-js-errors .content::before {
  left: 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slidein 1.5s;
  z-index: 13;
}


.sign-in-js .first-content .second-column {
  z-index: 12;
}

.sign-in-js .first-content .first-column{
  z-index: 14;
}

.sign-in-js .second-content .first-column,
.sign-in-js .second-content .second-column {
  z-index: -1;
}

.sign-in-js .content::before {
  left: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  animation: slideout 1.5s;
  z-index: 13;
}

.sign-in-js .second-content .second-column{
  z-index: -1;
  position: relative;
  animation: deslocamentoDireita 0.3s;

}


@keyframes deslocamentoDireita {
  from {
    left: 0px;
    opacity: 1;
    z-index: 12;
  }


  to {
    left: 110px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes deslocamentoEsquerda {
  from {
    left: 0px;
    opacity: 1;
    z-index: 12;
  }


  to {
    left: -110px;
    opacity: 0;
    z-index: -1;
  }
}



@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }


  to {
    left: 60%;
    width: 40%;
  }
}


@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }

  to {
    left: 0;
    width: 40%;
  }
}


/* Mensagens de erro */

.error-messages{
  display: flex;
  align-items: center;
  margin-left: 13px;
}

.error-messages p{
  color: red;
  font-weight: 500;
  font-size: 15px;
}
